		<!--ABOUT-->
		<section id="about">
			<img src="assets/images/title-detail.png" alt="title-detail">
			<h2>Sobre Ginger &amp; Bourbon</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			<hr>
			<article>
				<h5>Las mascotas <span>que inspiran</span></h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do re eiusmod diren tempor incidid ut labore et dolore magna porem ed ipsum dolor sit amet, do consectetur ut tempor magna. tem ipsum dolor sit amet, consectetur adipisicing elit, sed do re eiusmod diren tempor incididunt ut labore et dolore magna porem ed ipsum dolor sit amet, do consectetur ut tempor magna.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do re eiusmod diren tempor incididunt ut labore et dolore magna porem ed ipsum dolor sit amet, do consectetur ut tempor magna. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do re eiusmod diren tempor incididunt ut. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do re eiusmod diren tempor incididunt ut labore et dolore magna porem ed ipsum dolor sit amet, do consectetur ut tempor magna.</p>
				<ul>
					<li>Tragos premium</li>
					<li>Cocteleria de autor</li>
				</ul>
				<ul>
					<li>1 mesa de pool</li>
					<li>Happy Hour hasta la 2 a.m.</li>
				</ul>
			</article>
			<img src="assets/images/about-img.jpg" alt="about-img">
			<img src="assets/images/quality-badge.png" alt="quality-badge">
		</section>
		<!--/ABOUT-->