<body>
	
	<main>
		<!--SOCIAL LINKS-->
		<aside>
			<a href="#">
				<svg x="0px" y="0px" width="150px" height="40px">
					<polygon fill="#2d4c8b" points="150,40 7.001,40 0,33 0,7 6.918,0 150,0 "/>
					<image xlink:href="assets/images/facebook.png" x="23" y="10" width="9px" height="18px"/>
					<text x="55" y="24">Like Us!</text>
				</svg>
			</a>
			<a href="#">
				<svg x="0px" y="0px" width="150px" height="40px">
					<polygon fill="#34dfe6" points="150,40 7.001,40 0,33 0,7 6.918,0 150,0 "/>
					<image xlink:href="assets/images/twitter.png" x="17" y="12" width="23px" height="16px"/>
					<text x="55" y="24">Follow Us!</text>
				</svg>
			</a>
		</aside>
		<!--/SOCIAL LINKS-->

		<!--HEADER-->
		<header>
			<nav id="main-nav">
				<ul>
					<li><a href="/">Inicio</a></li>
					<li><a href="#specials">Menú</a></li>
					<li><a href="#contact">Contacto</a></li>
					<li class="sub-items"><a href="">Reservas</a>
						<ul>
							<li><a href="https://tableagent.com/bogota/ginger-bourbon/" target="_blank">TableAgent</a></li>
							<li><a href="https://www.sagenda.net/Frontend/Calendar/5e6e8a1d1e64db1decbc3b2c" target="_blank">Sagenda</a></li>
							<li><a href="https://gyb.simplybook.me/" target="_blank">SimplyBook.Me</a></li>
							<li><a href="https://booking.appointy.com/gybhq?&sr=720428" target="_blank">Appointy</a></li>
						</ul>
					</li>
				</ul>	
				<ul class="responsive-nav">
					<li><a href="/">Inicio</a></li>
					<li><a href="#specials">Menú</a></li>
					<li><a href="#contact">Contacto</a></li>
					<li class="sub-items"><a href="">Reservas</a>
						<ul>
							<li><a href="https://tableagent.com/bogota/ginger-bourbon/" target="_blank">TableAgent</a></li>
							<li><a href="https://www.sagenda.net/Frontend/Calendar/5e6e8a1d1e64db1decbc3b2c" target="_blank">Sagenda</a></li>
							<li><a href="https://gyb.simplybook.me/" target="_blank">SimplyBook.Me</a></li>
							<li><a href="https://booking.appointy.com/gybhq?&sr=720428" target="_blank">Appointy</a></li>
						</ul>
					</li>
				</ul>	
				<a href="#" id="pull"></a>  
			</nav>
			<figure>
				<img src="assets/images/logo-gyb.png" alt="Mozzarella-logo">
				<figcaption>Ginger &amp; Bourbon</figcaption>
			</figure>
			<ul class="main-slider">
				<li class="first">
					<h1>Barra de Tragos Premium</h1>
					<h6>Las recetas de sus mejores tragos de autor preparados por el bartender Jose Sosa.</h6>
					<img src="assets/images/slider1-decor.png" alt="stars-moustache">
					<a href="#specials" target="_blank" class="square-button">Ir a nuestreo menu</a>
				</li>
				<li class="second">
					<h2>Festejá con estilo</h2>
					<h6>Nuestro Head Bartender sigue creando grandes tragos para grandes competiciones.</h6>
					<a href="#photos" target="_blank" class="square-button">Ver las fotos</a>
				</li>
				<li class="third">
					<h2>Dale categoría a tu evento</h2>
					<h6>La calidad de los tragos y el buen el servicio de los bartenders es esencial.</h6>
					<a href="#our-dishes" target="_blank" class="square-button">Ver nuestros servicos</a>
				</li>
			</ul>
			<div class="pager-container">
				<a href="" data-slide-index="0"></a>
				<a href="" data-slide-index="1"></a>
				<a href="" data-slide-index="2"></a>
			</div>
		</header>
		<!--/HEADER-->

		<!--SHOWS-->
		<section id="shows">
			<img src="assets/images/show-model1.png" alt="show-model">
			<article>
				<h3>Tragos <span>premium</span></h3>
				<p>De martes a sábado</p>
				<p>Generamos experiencias únicas e inolvidables, transformando el clásico servicio de barra en una alternativa exclusiva y distinguida.</p>
				<a href="https://booking.appointy.com/gybhq?&sr=720428" class="square-button" target="_blank">Reservar Gratís</a>
			</article>	
		</section>
		<!--/SHOWS-->

		<!--SPECIALS-->
		<section id="specials">
			<img src="assets/images/ivy.png" alt="ivy">
			<figure id="board">
				<img src="assets/images/logo-gyb.png" alt="specials-title">
				<article>
					<!--SPECIAL ITEM-->
					<article>
						<h5>Penecilina</h5>
						<hr>
					</article>
					<p>$15.000</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor.</p>
					<!--/SPECIAL ITEM-->

					<!--SPECIAL ITEM-->
					<article>
						<h5>Gin y Tonic</h5>
						<hr>
					</article>
					<p>$20.000</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor.</p>
					<!--/SPECIAL ITEM-->

					<!--SPECIAL ITEM-->
					<article>
						<h5>Criollo</h5>
						<hr>
					</article>
					<p>$17.000</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor.</p>
					<!--/SPECIAL ITEM-->

					<!--SPECIAL ITEM-->
					<article>
						<h5>Lobo Arebatado</h5>
						<hr>
					</article>
					<p>$21.000</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor.</p>
					<!--/SPECIAL ITEM-->
				</article>		
			</figure>
		</section>
		<!--/SPECIALS-->

		<!--OUR DISHES-->
		<section id="our-dishes">
			<img src="assets/images/title-detail.png" alt="title-detail">
			<h2>Nuestros Servicios</h2>
			<p>En cada visita e evento ofrecemos un servicio ágil y personalizado, donde a través de la gran variedad de recursos disponibles, y la expertise de los más prestigiosos bartenders, logramos al instante autorías amoldadas al gusto individual de cada invitado que se acerque a la barra.</p>
			<hr>
			<article id="dishes-left">
				<article>
					<div>
						<h5>Bodas</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<img src="assets/images/ff-icon.png" alt="hamburger">
				</article>
				<article>
					<div>
						<h5>Bar / Bat</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<img src="assets/images/pc-icon.png" alt="pizza">
				</article>
				<article>
					<div>
						<h5>Corporativos</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<img src="assets/images/db-icon.png" alt="drinks">
				</article>
			</article>
			<article id="dishes-right">
				<article>
					<div>
						<h5>Destino</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<img src="assets/images/sc-icon.png" alt="steak">
				</article>
				<article>
					<div>
						<h5>Quince</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<img src="assets/images/sa-icon.png" alt="sandwiches">
				</article>
				<article>
					<div>
						<h5>Otras Celebraciones</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<img src="assets/images/ds-icon.png" alt="desserts">
				</article>
			</article>
			<img src="assets/images/deli-badge.png" alt="deli-badge">
		</section>
		<!--/OUR DISHES-->
		
		<!--VIDEO-->
		<section id="video">
			<p>Celebra en el</p>
			<h2>Barrio <span>San</span> Felipe</h2>
			<!--PLAY-->
			<div class="radial-progress">
				<div class="r-circle">
					<div class="mask full">
						<div class="fill"></div>
					</div>
					<div class="mask half">
						<div class="fill"></div>
						<div class="fill fix"></div>
					</div>
				</div>
			    <div class="inset">
			    	<img src="assets/images/play-button.png" alt="play-button">
			    </div>
			</div>
			<!--/PLAY-->
			<iframe src="http://player.vimeo.com/video/367349306"></iframe>
		</section>
		<!--/VIDEO-->

		<!--CONTACT-->
		<section id="contact">
			<img src="assets/images/title-detail.png" alt="title-detail">
			<h2>Hablemos</h2>
			<p>Dejanos tus datos para que nos pongamos en contacto y te ayudemos a organizar tu evento.</p>
			<hr>
			<form>
				<input type="text" id="name" name="name" placeholder="Write your full name here...">
				<input type="email" id="email" name="email" placeholder="Write your email adress here...">
				<textarea id="message" name="message" placeholder="Write your message here..."></textarea>
				<input type="submit" id="ctc" name="ctc" value="Mandar mensaje">
			</form>
		</section>
		<!--/CONTACT-->

		<!--NEWS-->
		<section id="news">
			<p>Quere enterasen de los descuentos?</p>
			<h4>Enterate de <span>nuestra Noticias</span></h4>
			<article>
				<form>
					<input type="email" id="subs_email" name="subs_email" placeholder="Enter your email to subscribe...">
					<input type="submit" id="subs" value="Subscribe">
				</form>
				<p class="subs-error"></p>
			</article>
		</section>
		<!--/NEWS-->

		<!--MAP-->
		<section id="map"></section>
		<!--/MAP-->

		<!--FOOTER-->
		<footer>
			<section id="info">
				<!--ABOUT MOZZARELLA-->
				<article>
					<h5>Sobre Ginger &amp; Bourbon</h5>
					<p>Quienes hayan participado de la #BONVIVANTEXPERIENCE, podrán distinguir en nosotros la personalización, artesanalidad, valorización del detalle, innovación, imagen, y vocación de servicio por parte de todos los integrantes de nuestra organización.</p>
					<ul class="c-info">
						<li>Fake street 123 - Springfield, USA</li>
						<li>inquiries@mozzarellabar.com</li>
						<li>(+044) 555 - 123 - 1234 / 35</li>
					</ul>
				</article>
				<!--/ABOUT MOZZARELLA-->

				<!--OPENING HOURS-->
				<article>
					<h5>Horario</h5>
					<article class="op-hours">
						<div>
							<h6>Lunes</h6>
							<h6>7:00PM - 2:00AM</h6>
						</div>
						<div>
							<h6>Martes</h6>
							<h6><span>Closed</span></h6>
						</div>
						<div>
							<h6>Miércoles</h6>
							<h6>7:00PM - 2:00AM</h6>
						</div>
						<div>
							<h6>Jueves</h6>
							<h6>7:00PM - 2:00AM</h6>
						</div>
						<div>
							<h6>Viernes</h6>
							<h6>7:00PM - 2:00AM</h6>
						</div>
						<div>
							<h6>Sabado</h6>
							<h6>7:00PM - 2:00AM</h6>
						</div>
						<div>
							<h6>Domingo</h6>
							<h6>7:00PM - 2:00AM</h6>
						</div>
					</article>
				</article>
				<!--/OPENING HOURS-->
			</section>
			<section id="copy">
				<h5><span>Ginger &amp; Bourbon&trade; 2020 |</span> Todos los derechos reservados.</h5>
				<nav>
					<ul>
						<li><a href="/">Inicio</a></li>
						<li><a href="#specials">Menú</a></li>
						<li><a href="#contact">Contacto</a></li>
						<li><a href="https://booking.appointy.com/gybhq?&sr=720428" target="_blank">Reservas</a></li>
					</ul>
				</nav>
			</section>
		</footer>
		<!--/FOOTER-->
	</main>

	{% include gyb-js.html %}
</body>