<!-- jQuery -->
<script src="assets/js/jquery-1.11.1.min.js"></script>
<!-- bxSlider -->
<script src="assets/js/jquery.bxslider.min.js"></script>
<!-- magnificPopup -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<!-- Img Liquid -->
<script src="assets/js/imgLiquid-min.js"></script>
<!-- Tooltipster -->
<script src="assets/js/jquery.tooltipster.min.js"></script>
<!-- Main -->
<script src="assets/js/main.js"></script>
<!-- Validate -->
<script src="assets/js/main-validate.js"></script>
<!-- Contact -->
<script src="assets/js/contact.js"></script>
<!-- Subscribe -->
<script src="assets/js/subscribe.js"></script>
<!-- Google Maps API -->
<script src="https://maps.googleapis.com/maps/api/js"></script>
<!-- Google Maps Config -->
<script src="assets/js/gmaps.js"></script>
<!-- Google Maps Config -->
<script src="assets/js/main-slider.js"></script>